name: Build NodeJS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


env:
  IMAGE_TAG: ${{vars.CI_REGISTRY}}${{vars.CI_REGISTRY_IMAGE}}:${{vars.CI_COMMIT_REF_SLUG}}

jobs:
  build-node:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x

    - name: Build
      run: |
        npm install
        npm run build
        export

    - name: Upload artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: build-artifact
        path: |
          package.json
          package-lock.json
          ./dist
          dockerfile
        if-no-files-found: warn
        retention-days: 1
        overwrite: true
        
  build-docker:
    runs-on: ubuntu-latest
    needs: ["build-node"]
    environment: production

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v5
      with:
        name: build-artifact
        
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Push Image
      run: |
        echo "${{secrets.CI_REGISTRY_PASSWORD}}" | docker login ${{vars.CI_REGISTRY}} -u ${{vars.CI_REGISTRY_USER}} --password-stdin
        docker build -t $IMAGE_TAG .
        docker push $IMAGE_TAG
    
    
